body {
	font-family: 'Amatica SC';
	background-color: orange;
	font-size: 20px;

	margin: 0 40px 0 10px;
}

p .work, .space {
	font-family: 'Amatica SC';
	font-size: 5em;

}

h3{
	font-family: 'Comfortaa';
	color: white;
	font-style: bold;
}

p .primary-text {
	font-family: 'Amatica SC';
	font-size: 16px;
}

.secondary-text {
	/*font-family: 'Comfortaa';*/
	/*font-family: 'Farsan';*/
	font-family: 'Courgette';
	font-size: 22px;
}


#address {
	/*font-family: 'Concert One';*/
	font-family: 'Farsan';

}

div {
	box-sizing: border-box
	margin: 30px 10px 10px 0;
	
}

div #form-box {
	border-bottom: 3px solid white;
}

.work{
	font-family: 'Amatica SC';
	color: white;
	font-style: bold;
}

#direction {
	width: 30px;
	height: 30px;
}

#form-box:before,
#form-box:after {
  content: "";
  display: table;
}
#form-box:after {
  clear: both;
}
#form-box {
  clear: both;
  *zoom: 1;
}

section {
  float: left;
  margin: 0;
  width: 60%;
  text-align: center;

}

aside {

  float: right;
  /*margin: 0 1.5%;*/
  margin-right: 3%;
  width: 33%;
  margin-top: 40px;
  text-align: center;
  
}

#result-1:before,
#result-1:after {
  content: "";
  display: table;
}
#result-1:after {
  clear: both;
}
#result-1 {
  clear: both;
  *zoom: 1;
}



#result-1 section {
  /*background-color: white;*/
  float: left;
  margin-left: 150px;
  padding-left: 15px;
  margin-top: 40px;
  width: 45%;
  text-align: left;
  border-radius: 15px
  
}

#result-1 aside {
  float: right;
  width: 40%;
  margin-right: 0;
  /*margin-top: 40px;*/
  text-align: left;
  
}

#credit {
  text-align: center;
}