body {
	font-family: 'Amatica SC';
	background-color: orange;
	font-size: 20px;
	/*margin: 0 40px 0 10px;*/
}

.work{
  color: white;
  font-style: bold;
}

.work, .space {
	font-size: 5em;

}

#businessname {
	font-family: 'Comfortaa';
  font-size: 1.15em;
	color: white;
	font-style: bold;
}

.primary-text {
	font-size: 16px;
}

.secondary-text {
	font-family: 'Courgette';
	font-size: 22px;
}


#address {
	font-family: 'Farsan';

}

div {
	box-sizing: border-box;
	/*margin: 30px 10px 10px 0;*/
	
}

div #form-box {
	border-bottom: 3px solid white;
}


#direction {
	width: 30px;
	height: 30px;
}

#form-box:before,
#form-box:after {
  content: "";
  display: table;
}
#form-box:after {
  clear: both;
}
#form-box {
  clear: both;
  *zoom: 1;
}

section {
  float: left;
  width: 60%;
  text-align: center;

}

aside {

  float: right;
  margin-right: 3%;
  width: 33%;
  margin-top: 40px;
  text-align: center;
  
}

#result-1:before,
#result-1:after {
  content: "";
  display: table;
}
#result-1:after {
  clear: both;
}
#result-1 {
  clear: both;
  *zoom: 1;
}



#result-1 section {
  float: left;
  margin-left: 150px;
  padding-left: 15px;
  margin-top: 40px;
  width: 45%;
  text-align: left;
  
}

#result-1 aside {
  float: right;
  width: 40%;
  margin-right: 0;
  text-align: left;
  
}

#credit {
  text-align: center;
}